<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>bb2</title>

        <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css" />
    </head>

    <body>

        <div class="content"></div>

        <!--Templates:-->

        <script type="text/template" id="person-id">
            <strong><%= name %> ( <%= age %> ) - <%= job %></strong>
        </script>

        <!--Scripts:-->

        <script type="text/javascript" src="js/assets/bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/assets/bower_components/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="js/assets/bower_components/backbone/backbone-min.js"></script>

        <script type="text/javascript" src="main.js"></script>

    </body>
</html>